/* general styles */

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
  }
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  body {
    background: #F0F0F0;
    margin:0;
    font-family:'raleway';
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size:0.8em;
    }
    
  
  
  h1 {
    font-size: 1.5rem;
    font-family:'josefin sans';
    font-weight:700;
   
  
    }
  
  /* general styles */
  
  /* footer */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#DDC723;
    color: #1C1C1C;
    text-align: center;
    font-family:'josefin sans';
  }
  
  /* footer */
  
  
  /* nav styles */
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#9BC184;
  }
   
  .logo a {
    color: #1c1c1c;
  }
  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'josefin sans';
    font-size: 2rem;
  }
  
  /* get rid of bullets on list and make text uppercase */
  
  .main-nav {
    list-style: none;
    text-transform: uppercase;
    font-family: 'josefin sans';
    font-weight:700;
    font-size:0.8em;
  }
  
  /* get rid of underline on links */
  .logo a,
  .main-nav a {
    text-decoration: none;
    letter-spacing: 0.2rem;
  
  }
  
  .logo a:hover {
    color: white;
  }
  /* make main nav flex and make it vertical */
  .main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-nav a {
    display: block;
    padding: 1em;
    color:#1c1c1c;
  }
  .main-nav a:hover {
    color: white;
  }
  
  .main-nav a {
    text-align: center;
    padding: 10px;
  
  }
  
  .main-nav li:last-of-type a {
    border-bottom: none;
  }
  
  @media only screen and (min-width: 35em) {
    body {
      background-color:white;
    }
    /* change flex direction to horizontal and space things out */
    .main-nav {
      flex-direction: row;
      justify-content: space-around;
    }
    /* remove borders on top and bottom */
    .main-nav a {
      border-top: none;
      border-bottom: none;
    }
  }
  
  @media only screen and (min-width: 60em) {
    body {
      background-color:#white;;
    }
    .logo {
      margin-left: 20px;
      width: 80%;
    }
    /* put logo and main nav on same line */
    .flex-container {
      flex-direction: row;
    }
  
    /* move the list to the right side of the browser */
    .main-nav {
      justify-content: flex-end;
    }
  
    /* add some padding to give the main nav some breathing room */
    .main-nav a {
      padding: 1.5em;
    }
  }
  
  /* nav styles */

  
  
  /* because it’s 2019, jensimmons */
* {
  box-sizing: border-box;
}

/* border-box box model allows us to add padding and border to our elements without increasing their size */

body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  /* display: block; */
  max-width: 100%;
}

.headerbox {
  height: 100vh;
  position: relative;
  background-image: url(/images/george_floyd.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.title {
  height: 280px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.title h1 {
  color: whitesmoke;
  font-size: 10vw;
}

.transparent {
  height: 10em;
  width: 100%;
  position: ;
  top: 75%;
  margin-top: 5em;
}

.transparent h2 {
  font-size: 11vw;
  text-align: center;
  padding-right: 30px;
  text-transform: uppercase;
  color: whitesmoke;
}

.content {
  margin: 0 auto;
  max-width: 90ch;
  height: 100vh;
  padding: 2rem;
}

.content article {
  padding-top: 50px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.3;
}

.second-image {
  position: relative;
  height: 600px;
  background-image: url(/images/protest.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

p {
        color: black;
        font-family:'raleway';
        font-weight: 300;
        letter-spacing: 0.05rem;
        font-size:1em;
        line-height:1.5em;
        }

